.contact {
  max-width: 140rem;
  margin: 0 auto;
  padding: 14rem 3.2rem 8rem 3.2rem;
  display: grid;
  grid-template-columns: 0.55fr 1fr;
  column-gap: 2.5rem;
  --color-neutral: rgba(63, 108, 195, 0.03);
  --color-valid: rgba(140, 233, 154, 0.08);
  --color-invalid: rgba(255, 168, 168, 0.08);
}

.contact-cards {
  display: grid;
  height: fit-content;
  row-gap: 2.2rem;
}

.contact-card {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  padding: 3rem;
  gap: 1.8rem;
  transition: all 250ms linear;
  height: 100%;
}

.contact-card:hover {
  box-shadow: var(--box-shadow-strong);
}

.contact-svg-container {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-sub-title);
  border-radius: 100px;
}

.contact-card svg {
  padding: 1rem;
  width: 100%;
  height: 100%;
  color: var(--bg-general);
}

.contact-card h6 {
  font-size: 2rem;
  color: var(--color-sub-title);
  margin-bottom: 1rem;
}

.contact-card span {
  display: block;
}

.contact-card .forms-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1.5rem;
}

.contact-card button, .contact-card a {
  background-color: var(--color-sub-title);
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  border-radius: 900rem;
  color: #fff;
  cursor: pointer;
  transition: all 250ms linear;
  text-align: center;
}

.contact-card button:hover,
.contact-card button:focus,
.contact-card a:hover,
.contact-card a:focus {
  background-color: var(--color-text-title);
}

.contact-card a {
  text-decoration: none;
}

.contact-card a:hover,.contact-card a:focus {
  text-decoration: underline;
}

.contact-form-container {
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  padding-inline: 4rem;
  padding-block: 5rem;
  transition: all 250ms linear;
}

.contact-form-container:hover {
  box-shadow: var(--box-shadow-strong);
}

.contact-form-heading {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.5rem;
}

.contact-form-heading .sub-heading {
  text-transform: unset;
  margin-bottom: 0.5rem;
}

.contact-form-heading h2 {
  font-size: 3.5rem;
  max-width: unset;
}

.contact-form-heading p {
  margin-top: 1.2rem;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 500px;
  background-color: var(--bg-general);
  width: 100%;
}

textarea {
  border-radius: 1.3rem;
}

.message-input-container {
  grid-column: span 2;
}

#mensaje {
  height: 14rem;
}

label {
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.8rem;
  padding-left: 1rem;
}

label span {
  font-size: 1.3rem;
  color: #adb5bd;
  font-style: italic;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  color: #adb5bd;
}

.contact-form > button {
  grid-column: span 2;
  background-color: var(--color-sub-title);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
  width: max-content;
  margin: 0 auto;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 500px;
  text-transform: uppercase;
  transition: all 250ms linear;
}

.contact-form > button:hover,
.contact-form > button:focus {
  background-color: var(--color-text-title);
  box-shadow: var(--box-shadow-soft);
}

input:focus,
textarea:focus {
  outline: 0.25rem solid var(--color-sub-title);
}

input:not(:placeholder-shown):valid {
  background-color: var(--color-valid);
}

input:not(:placeholder-shown):invalid {
  background-color: var(--color-invalid);
}

input:focus:invalid {
  background-color: var(--color-neutral);
}

.submitted-view {
  display: grid;
  place-items: center;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}

.submitted-view > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitted-icon {
  width: 9rem;
  height: 9rem;
  margin-bottom: 2rem;
}

.submitted-icon svg {
  width: 100%;
  height: 100%;
  color: var(--color-sub-title);
}

.submitted-message {
  text-align: center;
}

.submitted-view p {
  font-weight: 600;
  font-size: 2rem;
}

.submitted-view span {
  display: block;
}
