.feature {
  background-color: var(--bg-general);
  color: #888;
  position: relative;
  z-index: 100;
}

.feature-container {
  max-width: 100%;
  padding: 3.2rem 6rem;
  padding-top: 7rem;
  margin: 0 auto;
}

.feature-title {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.feature-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-top: 3rem;
}

.feature-logos img {
  height: 5.2rem;
  /* filter: brightness(0) invert(0); */
  /* opacity: 50%; */
}
