.feature {
  /* background-color: var(--bg-secondary); */
  background-color: var(--bg-general);
  color: #888;
}

.feature-container {
  max-width: 100%;
  padding: 3.2rem 6rem;
  margin: 0 auto;
}

.feature-title {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.feature-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.feature-logos img {
  height: 3.2rem;
  filter: brightness(0) invert(0);
  opacity: 50%;
}
