.footer {
  padding: 6rem 6rem 2rem 6rem;
  border-top: 1px solid #b0b0b1;
  position: relative;
  z-index: 100;
}

.footer-container {
  margin: 0 auto;
}

.footer-logo {
  height: 5rem;
  cursor: pointer;
  filter: brightness(0) invert(0);
  opacity: 50%;
}

.socials-col {
  text-align: center;
}

.social-icons {
  margin-top: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icons > a {
  color: var(--color-text-secundary);
  transition: all 0.5s;
  text-decoration: none;
}

.social-icons > a:visited {
  color: var(--color-text-secundary);
}

.social-icons > a:hover,
.social-icons > a:active {
  color: var(--bg-secondary);
}

.social-icon {
  cursor: pointer;
}

.copy {
  font-size: 1.4rem;
  color: var(--color-text-secundary);
  line-height: 1.6;
  margin-top: 2rem;
  width: 100%;
}

.copy > a {
  color: var(--color-text-secundary);
}

.copy > a:visited,
.copy > a:active,
.copy > a:hover {
  color: var(--color-text-secundary);
}
