.sub-heading__hero {
  color: white;
  font-size: 2rem;
}

.header-hero {
  position: relative;
  width: 100%;
  height: 100dvh;
}

.hero-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
}

.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hero-text {
  width: 40%;
  position: absolute;
  bottom: 10%;
  left: 4%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
  /* TODO */
}

/* Fix jump page makes when adding sticky to header */
/* .hero.fix-jump {
  padding-top: 11rem;
} */

.hero-logo__text {
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* .paragraph-text {
  opacity: 0;
  animation: from-below 0.5s ease-out calc(var(--delay) * 100ms),
    fade-hero-para 0.7s linear calc(var(--delay) * 100ms),
    reveal-text 0s linear calc(var(--delay) * 100ms) forwards;
}

@keyframes from-below {
  from {
    transform: translateY(110%);
  }
}

@keyframes fade-hero-para {
  from {
    filter: blur(3px);
  }
}

@keyframes reveal-text {
  to {
    opacity: 1;
  }
} */
