.sub-heading__hero {
  color: var(--bg-general);
  font-size: 2rem;
}

.header-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
  /*IMPORTANT*/
}

.hero-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100lvh;
  /*IMPORTANT*/
}

.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hero-text {
  width: 40%;
  position: absolute;
  bottom: 10%;
  left: 4%;
  transition: all 0.2s;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-logo__text {
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}
