/* BELTRAN COLOR PALETTE */
:root {
  --bg-general: #f1f3f5;
  --bg-secondary: #212529;
  --color-text-title: #1d2a47;
  --color-sub-title: #3f6cc3;
  --color-text-general: #666666;
  --color-text-secundary: #aaa;
  --color-cards: #243841;
  --color-border: rgba(170, 170, 170, 0.5);
  --box-shadow-strong: 0 7px 15px 0 rgba(0, 0, 0, 0.13),
    0 1px 4px 0 rgba(0, 0, 0, 0.11);
  --box-shadow-soft: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'beto-bold';
  src: url(../BentonSans\ Bold.otf);
}

@font-face {
  font-family: 'beto-book';
  src: url(../BentonSans\ Book.otf);
}

@font-face {
  font-family: 'beto-light';
  src: url(../BentonSans\ Light.otf);
}

body {
  font-family: 'beto-book', sans-serif;
  line-height: 1;
  color: var(--color-text-general);
  background-color: var(--bg-general);
  overflow-x: hidden;
}

.sub-heading {
  display: block;
  font-family: 'beto-bold', sans-serif;
  font-size: 1.8rem;
  color: var(--color-subheading);
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  letter-spacing: 0.2px;
  color: var(--color-sub-title);
}

.sub-heading.center {
  background-size: 200%;
}

p,
span {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  line-height: 1.5;
}

.h1 {
  font-family: 'beto-light', sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  color: var(--bg-general);
  line-height: 1.3;
}

.h2 {
  font-family: beto-light, sans-serif;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1.1;
  color: var(--color-text-title);
  max-width: 70rem;
}

.h2.dark {
  color: var(--color-text-secundary);
}

.section {
  opacity: 1;
  transition: all 1s;
  position: relative;
}

.section.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* lazy-loading images */
img[data-src] {
  transition: filter 0.6s linear;
}

img[data-src].lazy-img__blurred {
  filter: blur(10px);
}
