/* rem and em do NOT depend on html font size in media queries!
Insted we assume that 1rem = 1em = 16px */

/* 1600px */
@media (max-width: 100em) {
  .testimonials {
    padding: 0 20rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }

  .testimonial-text span {
    font-size: 10rem;
  }
}

/* BELOW 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .testimonials {
    padding: 0 10rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .projects-header > div:nth-child(2),
  .project-country {
    text-align: center;
  }

  .projects-header > div:nth-child(3),
  .project-facts {
    margin-left: auto;
    justify-content: end;
  }

  .project-facts {
    text-align: center;
    text-transform: capitalize;
  }

  .project-more {
    grid-template-columns: 1fr auto;
  }

  .project-more__img {
    width: 30%;
    margin-inline: 0.5rem;
  }

  .project-more__images {
    display: none;
  }

  .project-more__btn-container {
    justify-content: end;
    margin-left: 1rem;
  }
}

/* BELOW 1300px (Landscape Tablets / project name misalign) */
@media (max-width: 81.25em) {
  .project {
    grid-template-columns: 1.3fr 1fr 1fr;
  }

  .project-country {
    transform: translateX(-5rem);
  }
}

/* BELOW 1100px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .feature-container {
    max-width: 100%;
    padding: 3.2rem 6rem;
  }

  /* project images overlay arrows */
  .modal-arrow {
    position: fixed;
    top: 50%;
    color: white;
    font-size: 3.5rem;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: var(--color-text-general);
    border-radius: 1000px;
    width: 4.5rem;
    height: 4.5rem;
    padding: 5px;
    opacity: 0.5;
  }

  .modal-arrow__left {
    left: 8%;
  }

  .modal-arrow__right {
    right: 8%;
  }

  .dots__dot {
    margin-inline: 1.5rem;
  }
}

/* BELOW 1000PX (Portrait tablets) */
@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }

  .projects-header {
    grid-template-columns: 1fr 1fr;
  }

  .projects-header > div:nth-child(3) {
    display: none;
  }

  .project {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-country {
    transform: translateX(0);
  }

  .projects-header > div:nth-child(2),
  .project-country {
    text-align: end;
  }

  .project-name-image {
    transform: translateX(0);
  }

  .project-facts {
    display: none;
  }

  /* MOBILE NAVIGATION */
  /* .header {
    position: relative;
  } */

  .header-nav {
    /* --color-mobile-nav: #beb7a4; */
    --color-mobile-nav: rgb(51, 51, 51);
    box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-mobile-nav);
    padding: 4rem;
    padding-top: 12rem;
    padding-right: 12rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s;
    height: 100dvh;
    /* width: 100%; */
  }

  .header-nav.header-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  /* TODO  SELECT HTML BASED ON INNER CONTAINER CONDITION */
  /* html:has(.header-open) {
    margin: 0;
    height: 100%;
    overflow: hidden;
  } */

  .header-nav__items {
    flex-direction: column;
    align-items: start;
    position: relative;
    font-size: 2.5rem;
  }

  .header-icon {
    display: block;
    transition: all 0.2s ease-out 0.2s;
  }

  .header-icon.header-open {
    transform: translateX(-17rem);
  }

  .header-icon__line {
    transition: all 0.2s linear 0.4s;
  }

  .header-open .header-icon__line:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  .header-open .header-icon__line:nth-child(2) {
    transform: rotate(-45deg);
    top: 50%;
  }
}

/* BELOW 920PX (Smaller tablets) */
@media (max-width: 57.5em) {
  .header {
    padding: 0 3rem;
  }

  .header-icon.header-open {
    transform: translateX(-20rem);
  }

  .feature-logos img {
    height: 2.9rem;
  }

  .service-img {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .justify-helper {
    justify-content: center;
  }

  .service-content {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .service-img > img {
    padding: 0;
    width: 80%;
  }

  .project {
    grid-template-columns: 1fr 0.6fr;
  }

  .projects-header {
    font-size: 2.5rem;
  }

  .testimonials {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .testimonial-gallery,
  .testimonial-text {
    width: 60%;
  }
}

/* BELOW 820px */
@media (max-width: 51.25em) {
  .h1 {
    font-size: 4.2rem;
    line-height: 1.5;
  }

  .feature-logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}

/* BELOW 720PX (Smaller tablets) */
@media (max-width: 45em) {
  .header {
    padding: 0 2rem;
  }

  .header-icon.header-open {
    transform: translateX(-21rem);
  }

  .hero-text {
    width: 60%;
  }

  .feature-logos img {
    height: 2.5rem;
  }

  .testimonial-gallery,
  .testimonial-text {
    width: 80%;
  }
}

@media (max-width: 37.5em) {
  .section-info {
    padding: 0 2rem;
    padding-top: 10rem;
  }

  .section-projects {
    padding-top: 10rem !important;
    border-top: 1px solid rgba(190, 183, 164, 0.5);
  }

  .sub-heading {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .h2 {
    font-size: 3.6rem;
  }

  .feature-container {
    padding: 2rem 4rem;
  }

  .feature-title {
    font-size: 1.1rem;
  }

  .feature-logos {
    margin-top: 2rem;
  }

  .service {
    margin-bottom: 6rem;
  }

  .service-img {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .service-img::before,
  .service-img::after {
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50%, -50%) skewX(-3deg);
  }

  .service-img::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: rgba(190, 183, 164, 0.15);
    z-index: -2;
    top: 45%;
    left: 45%;
  }

  .service-img::after {
    width: 60%;
    padding-bottom: 60%;
    background-color: rgba(179, 162, 114, 0.15);
    z-index: -1;
    top: 55%;
    left: 55%;
  }

  .service-img > img {
    padding: 0;
    width: 50%;
  }

  .justify-helper {
    grid-row: 3/4;
  }

  .projects {
    padding: 0 2rem;
    margin-top: 4rem;
  }

  .projects-header {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .project {
    grid-template-columns: 1fr 0.2fr;
  }

  .project-country {
    line-height: 1.3;
  }

  .project-more__btn {
    padding: 1rem;
    font-size: 1.3rem;
  }

  /* Better mobile experience */
  .project {
    opacity: 1 !important;
  }

  .project:hover::after {
    width: 0% !important;
  }

  .project.project-active::after {
    width: 100% !important;
  }

  .project:hover .project-thumbnail > img {
    transform: scale(1.1);
  }

  .project-active .project-thumbnail > img {
    transform: scale(1) !important;
  }
  /*end for better mobile experience*/

  .testimonials-container {
    margin-top: 6rem;
  }

  .testimonials {
    padding: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 15rem;
    gap: 10rem;
  }

  .contact {
    padding: 4rem 2rem 14rem 2rem;
  }

  .name-container {
    flex-direction: column;
    gap: 2.5rem;
  }

  #first-name {
    width: 100%;
  }

  #last-name {
    width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }
}

/* 520px smallest phones */
@media (max-width: 32.5em) {
  .h1 {
    font-size: 3.8rem;
  }

  .hero-text {
    width: 65%;
  }

  .modal-arrow {
    width: 3.5rem;
    height: 3.5rem;
  }

  .modal-arrow__left {
    left: 11%;
  }

  .modal-arrow__right {
    right: 11%;
  }

  .testimonial-text {
    font-size: 2.5rem;
  }

  .testimonial-text span {
    font-size: 8rem;
  }
}

/* 375px smallest phones */
@media (max-width: 27.75em) {
  .section-projects {
    border-top: 1px solid rgba(190, 183, 164, 0.5);
  }

  .h2 {
    font-size: 3.2rem;
  }

  .feature-container {
    padding: 2rem 1rem;
  }

  .feature-title {
    font-size: 1.1rem;
  }

  .feature-logos {
    margin-top: 2rem;
  }

  .feature-logos img {
    height: 2rem;
  }

  .service-content {
    padding-left: 0;
    padding-right: 0;
  }

  .project {
    grid-template-columns: 1fr;
  }

  .projects-header > div:nth-child(2) {
    display: none;
  }

  .project-thumbnail {
    width: 15rem;
  }

  .project-name {
    margin-left: 1rem;
  }

  .project-country {
    display: none;
  }

  .project-more {
    grid-template-columns: 1fr;
  }

  .project-more__btn-container {
    justify-content: center;
    padding-top: 1rem;
  }
}
