/* rem and em do NOT depend on html font size in media queries!
Insted we assume that 1rem = 1em = 16px */

/* 1800px */
@media (max-width: 112.15em) {
  .testimonial-text {
    font-size: 1.8rem;
  }
}

/* 1600px */
@media (max-width: 100em) {
  .testimonials {
    padding: 0 20rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .testimonial-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

/* BELOW 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .testimonials {
    padding: 0 10rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }
}

/* BELOW 1300px (Landscape Tablets) */
@media (max-width: 81.25em) {
}

/* BELOW 1100px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .feature-container {
    max-width: 100%;
  }

  .map {
    padding-bottom: 30%;
  }
}

/* BELOW 1000PX (Portrait tablets) */
@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }

  .projects-container {
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .header-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(33, 37, 41, 0.99);
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 150ms linear;
    height: 100dvh;
    width: 100%;
    z-index: 1000;
  }

  .header-nav.header-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .header-nav__items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 3rem;
    height: 100%;
    gap: 8rem;
  }

  /* .header-icon header-open */

  .header-icon {
    display: block;
    transition: all 120ms linear;
    z-index: 1100;
  }

  .header-icon.header-open {
    transform: translateX(-2rem);
  }

  .header-icon__line {
    transition: all 120ms linear;
  }

  .header-open .header-icon__line:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  .header-open .header-icon__line:nth-child(2) {
    transform: rotate(-45deg);
    top: 50%;
  }

  .map {
    padding-bottom: 32%;
  }
}

/* BELOW 920PX (Smaller tablets) */
@media (max-width: 57.5em) {
  .header {
    padding: 0 3rem;
  }

  .feature-logos img {
    height: 4rem;
  }

  .services-slider {
    --items-per-screen: 2;
    --slide-percentage: 90%;
  }

  .services-btns {
    display: flex;
  }

  .justify-helper {
    justify-content: center;
  }

  .testimonials {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .testimonial-text {
    width: 60%;
    gap: 4rem;
  }

  .testimonial-gallery {
    width: 70%;
  }

  .testimonial-image2 {
    transform: translateY(-5rem);
  }
  .testimonial-image4 {
    transform: translateY(-5rem);
  }

  .feature-container {
    padding: 3.2rem 4rem;
    padding-top: 7rem;
  }

  .map {
    padding-bottom: 35%;
  }
}

/* BELOW 820px */
@media (max-width: 51.25em) {
  .h1 {
    font-size: 4.2rem;
    line-height: 1.5;
  }

  .feature-logos {
    /* justify-content: center; */
    gap: 3rem;
  }

  .map {
    padding-bottom: 40%;
  }
}

/* BELOW 720PX (Smaller tablets) */
@media (max-width: 45em) {
  .header {
    padding: 0 2rem;
  }

  .hero-text {
    width: 60%;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .project img {
    aspect-ratio: 2/1;
  }

  .feature-logos img {
    height: 3.2rem;
  }

  .project::after {
    display: none;
  }

  .project-content {
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    transform: unset;
    padding: 1rem 2.2rem;
    border-top: unset;
    border-right: 2px solid var(--color-sub-title);
    opacity: 1;
  }

  .project:hover .project-content {
    opacity: 1;
    top: unset;
  }

  .testimonial-gallery {
    width: 80%;
  }

  .testimonial-text {
    width: 80%;
  }

  .feature-container {
    padding: 3.2rem 2rem;
    padding-top: 7rem;
  }

  .map {
    padding-bottom: 50%;
  }
}

@media (max-width: 37.5em) {
  .section-info {
    padding: 0 2rem;
    padding-top: 10rem;
  }

  .sub-heading {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .h2 {
    font-size: 3.6rem;
  }

  .services {
    padding: 0 2rem;
  }

  .justify-helper {
    grid-row: 3/4;
  }

  .testimonials-container {
    margin-top: 6rem;
  }

  .testimonials {
    padding: 0 5rem;
    padding-top: 8rem;
    padding-bottom: 15rem;
    gap: 10rem;
  }

  .testimonial-gallery {
    width: 100%;
  }

  .testimonial-text {
    width: 100%;
  }

  .contact {
    padding: 4rem 2rem 14rem 2rem;
  }

  .name-container {
    flex-direction: column;
    gap: 2.5rem;
  }

  #first-name {
    width: 100%;
  }

  #last-name {
    width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }

  .map {
    padding-bottom: 55%;
  }
}

/* 520px smallest phones */
@media (max-width: 32.5em) {
  .h1 {
    font-size: 3.8rem;
  }

  .hero-text {
    width: 65%;
  }

  .services-slider {
    --items-per-screen: 1;
    --slide-percentage: 83%;
  }

  .services-btns {
    margin-bottom: 4rem;
  }

  .projects {
    padding: 0 4rem;
  }

  .testimonial-image2 {
    transform: translateY(-2rem);
  }
  .testimonial-image4 {
    transform: translateY(-2rem);
  }

  .feature-logos img {
    height: 3rem;
  }

  .map {
    padding-bottom: 70%;
  }
}

/* 375px smallest phones */
@media (max-width: 27.75em) {
  .h2 {
    font-size: 3.2rem;
  }

  .feature-container {
    padding: 2rem 1rem;
    padding-top: 7rem;
  }

  .service-content {
    padding-left: 0;
    padding-right: 0;
  }

  .map {
    padding-bottom: 90%;
  }
}

/* .map {
  padding-bottom: 25%;
} */
